@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    list-style: none;
    text-decoration: none;
}

:root{
    --orange-color:#FEA301;
    --sky-blue:#01ACFD;
    --black-color:#111111;
    --white-color:#FFFFFF;
}

/* header */
.header{
    max-width: 1440px;
   
}


.navber{
 
    
    margin: 0 auto;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 140px;
}
.logo{
    display: flex;
    gap: 11px;
    
    align-items: center;

}
.logo-name{
    font-size: 2rem;
    font-weight: bold;
}
.logo img{
    width: 62px;
}
.navitems{
    display: flex;
    gap: 2rem;
}

.navitem{
    font-size: 1.2rem;
    font-weight:400;
}

.btn button{
 padding: 10px 30px;
 background-color: var(--orange-color);
 border: none;
 border-radius: 10px;
 color: var(--white-color);
 font-size: 1.2rem;

}

.btn button:hover{
cursor: pointer;
background: var(--sky-blue);
}

.home{
    color: var(--orange-color);

}

.about{
    color:var(--sky-blue);
}

.facilities{
    color:#05D4DF;
}

.admission{
    color:#5D58EF;
}

.nav-sm{
    display: none;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
   
}
.nav i{
    font-size: 1.5rem;
    cursor: pointer;
}

.nav img{
    max-width: 50px;
}


/* =====================Hero============================ */
.hero{
    max-width: 1158px;   
    margin: 0 auto;

}

.hero-container{
   
    padding-left: 140px;
    padding-right: 140px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.hero-content{
    max-width: 640px;
    padding-top:112px;
    padding-bottom: 112px;
}

.hero-content-title{
    font-size: 3rem;
    padding-bottom: 12px;
    color: var(--sky-blue);
}
.hero-desc{
    color: var(--sky-blue);
    font-size: 1.2rem;
    margin-bottom: 12px;
}
.hero-content-title span{
    color: var(--orange-color);
}


.hero-image{
    max-width: 468px;
   
}
.hero-image img{
    width: 100%;
}

.hero-btn{
    padding: 10px 30px;
    background-color: var(--sky-blue);
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    font-size: 1rem;
    cursor: pointer;
   
}


/* ====================curriculum sEction===================== */
.curriculum{
    max-width: 1440px;
}

.curriculum-contianer{
   
    max-width: 1158px;
    margin: 0 auto;
    justify-items: center;
   
}
.curriculum-contianer i{
    margin-top: 80px;
    margin-bottom: 60px;
    font-size: 3rem;
    color: white;
    border-radius: 50%;
    padding: 10px;
   align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--orange-color);
}
.curriculum-title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 80px;
}

.card-container{
    display: flex;
  justify-content: space-between;
  gap: 28px;
  align-items: center;
}

.card{
    max-width: 367px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 16px;
   
  
}

.card-1{
    box-shadow: 0px 0px 18.3px rgba(0,0,0,0.94);
    background:linear-gradient( to bottom,#FFFFFF 60%,#DEF5FF 100%);
    
}

.card-2{
    box-shadow: 0px 0px 18.3px rgba(0,0,0,0.94);
    background:linear-gradient( to top,#FFFFFF 0%,#FFF4DC 100%);  
}
.card-3{
    box-shadow: 0px 0px 18.3px rgba(0,0,0,0.94);
    background:linear-gradient( to top,#FFFFFF 0%,#EEE1FF 100%);  
}
.card-image{
    margin-top: 40px;
    margin-bottom: 20px;
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--black-color);
}
.card-desc{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.read-btn{
    margin-top: 30px;
    margin-bottom: 40px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
  background-color: #DEF5FF;
    cursor: pointer;
   color: var(--orange-color);
}t

.icon-angle{
    display: block;
}










/* ======================Resonponsive for mobile devices=========================== */

@media only screen and (max-width:576px) {
    .navber{
        display: none;
        padding: 0;
    }

    .nav-sm{
        display: block;
    }
   .hero-container{
    flex-direction: column-reverse;
    padding-left: 30px;
    padding-right: 30px;
   }
  .hero-content-title{
    font-size: 2rem;
  }
   .hero-content{
    text-align: center;
  padding-right: 10px;
  padding-bottom: 10px;
   }
   .hero-image img{
    width: 80vw;
   }

   .card-container{
    flex-direction: column;
    margin-bottom: 80px;
   }
   .icon-angle{
  display: none;
  margin-top:80px;
   }
}

/* =============responsive for desktop============== */

@media screen and (min-width:576px)  and (max-width:992px){
    .navber{
        display: none;
    }
    .nav-sm{
        display: block;
    }
    .hero-container{
        gap: 50px;
    }

    .hero-content-title{
        font-size: 1.5rem;
    }
    .hero-content{
        width: 50%;
    }

    .hero-image{
       width:50%;
    }
    .card-container{
       flex-wrap: wrap;
       justify-content: center;
    }
}